<app-header></app-header>

<!-- CATEGORY SECTION -->

<section class="browse-catagories section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Browse by Catagories</h2>
            <p>As the Africa's #1 job site, with over 200 million unique visitors every month from over 40+ countries in africa and around the world.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <a href="browse-categories.html" class="img-box">
                    <div class="img-box-content">
                        <h4>Healthcare</h4>
                        <span>3420 Jobs</span>
                    </div>
                    <div class="img-box-background">
                        <img class="img-fluid" src="assets/img/catagories/img1.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <a href="browse-categories.html" class="img-box">
                            <div class="img-box-content">
                                <h4>Education</h4>
                                <span>2379 Jobs</span>
                            </div>
                            <div class="img-box-background">
                                <img class="img-fluid" src="assets/img/catagories/img2.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <a href="browse-categories.html" class="img-box">
                            <div class="img-box-content">
                                <h4>Business</h4>
                                <span>1560 Jobs</span>
                            </div>
                            <div class="img-box-background">
                                <img class="img-fluid" src="assets/img/catagories/img3.jpg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <a href="browse-categories.html" class="img-box">
                            <div class="img-box-content">
                                <h4>Finance</h4>
                                <span>2000 Jobs</span>
                            </div>
                            <div class="img-box-background">
                                <img class="img-fluid" src="assets/img/catagories/img4.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <a href="browse-categories.html" class="img-box">
                            <div class="img-box-content">
                                <h4>Support</h4>
                                <span>3340 Jobs</span>
                            </div>
                            <div class="img-box-background">
                                <img class="img-fluid" src="assets/img/catagories/img5.jpg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <a href="browse-categories.html" class="img-box">
                    <div class="img-box-content">
                        <h4>Law</h4>
                        <span>1200 Jobs</span>
                    </div>
                    <div class="img-box-background">
                        <img class="img-fluid" src="assets/img/catagories/img6.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-12 text-center mt-4">
                <a href="#" class="btn btn-primary" style="border-radius: 39px;">browse more</a>
            </div>
        </div>
    </div>
</section>

<!-- END OF CATEGORY SECTION -->



<!-- START OF FEATURED JOBS  -->

<section id="featured" class="section bg-cyan">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Featured Jobs</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                    <div class="icon">
                        <img src="assets/img/features/img1.png" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Software Engineer</a></h3>
                        <p class="brand">MizTech</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>John Smith</span>
                        </div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                    <div class="icon">
                        <img src="assets/img/features/img2.png" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Graphic Designer</a></h3>
                        <p class="brand">Hunter Inc.</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>John Smith</span>
                        </div>
                        <span class="part-time">Part Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                    <div class="icon">
                        <img src="assets/img/features/img3.png" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Managing Director</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>John Smith</span>
                        </div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                    <div class="icon">
                        <img src="assets/img/features/img4.png" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Software Engineer</a></h3>
                        <p class="brand">AmazeSoft</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>John Smith</span>
                        </div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                    <div class="icon">
                        <img src="assets/img/features/img5.png" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Graphic Designer</a></h3>
                        <p class="brand">Bingo</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>John Smith</span>
                        </div>
                        <span class="part-time">Part Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                    <div class="icon">
                        <img src="assets/img/features/img6.png" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Managing Director</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>John Smith</span>
                        </div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-4">
                <a href="job-page.html" class="btn btn-common" style="border-radius: 39px">Browse All Jobs</a>
            </div>
        </div>
    </div>
</section>

<!-- END OF FEATURED JOBS  -->



<section class="how-it-works section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">How It Works?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici
                turac fringilla lorem facilisis.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="work-process">
                    <span class="process-icon">
                        <i class="lni-user"></i>
                    </span>
                    <h4>Create an Account</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find
                        place best.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process step-2">
                    <span class="process-icon">
                        <i class="lni-search"></i>
                    </span>
                    <h4>Search Jobs</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find
                        place best.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process step-3">
                    <span class="process-icon">
                        <i class="lni-cup"></i>
                    </span>
                    <h4>Apply</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find
                        place best.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="apply">
    <div class="container-fulid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 no-padding">
                <div class="recruiter item-box">
                    <div class="content-inner">
                        <h5>I'm</h5>
                        <h3>Recruiter</h3>
                        <p>Post a job to tell us about your project. We'll quickly match you with <br> the right
                            freelancers find place best.</p>
                        <a href="#" class="btn btn-border-filled">Post a Job</a>
                    </div>
                    <div class="img-thumb">
                        <i class="lni-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 no-padding">
                <div class="jobseeker item-box">
                    <div class="content-inner">
                        <h5>I'm</h5>
                        <h3>Jobseeker!</h3>
                        <p>Post a job to tell us about your project. We'll quickly match you with <br> the right
                            freelancers find place best.</p>
                        <a href="#" class="btn btn-border-filled">Browser Jobs</a>
                    </div>
                    <div class="img-thumb">
                        <i class="lni-leaf"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section id="counter" class="section bg-gray">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="counter-box">
                    <div class="icon"><i class="lni-home"></i></div>
                    <div class="fact-count">
                        <h3><span class="counter">800</span></h3>
                        <p>Jobs Posted</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="counter-box">
                    <div class="icon"><i class="lni-briefcase"></i></div>
                    <div class="fact-count">
                        <h3><span class="counter">80</span></h3>
                        <p>All Companies</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="counter-box">
                    <div class="icon"><i class="lni-pencil-alt"></i></div>
                    <div class="fact-count">
                        <h3><span class="counter">900</span></h3>
                        <p>Resumes</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="counter-box">
                    <div class="icon"><i class="lni-save"></i></div>
                    <div class="fact-count">
                        <h3><span class="counter">1200</span></h3>
                        <p>Applications</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div id="subscribe" class="section bg-cyan">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="subscribe-form">
                    <div class="form-wrapper">
                        <div class="sub-title">
                            <h3>Subscribe Our Newsletter</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et
                                metus dolor sit amet,.</p>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-12 form-line">
                                    <div class="form-group form-search">
                                        <input type="email" class="form-control" name="email"
                                            placeholder="Enter Your Email">
                                        <button type="submit" class="btn btn-common btn-search">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="img-sub">
                    <img class="img-fluid" src="assets/img/sub.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- START OF ABOUT US -->

<section class="how-it-works section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">About Us</h2>
            <p>We are a startup with global ambitions and are savvy to realize them.
                JobPortal is an online career portal from Nigeria. We place a high premium on Job search that is relevant and up-to-the-minute.  
                The market opportunity is exciting; Nigeria is a large country, large working population, and internationally growing. 
                Our long-term goal is simple: to be the ‘go-to’ company for the industry. We don’t only offer job information services, we are here to build careers.
                JobPortal Nigeria forms part of the investment portfolio of Ringier One Africa Media</p>
        </div>
    </div>
</section>
<app-footer></app-footer>