<app-header></app-header>

                        <!-- CATEGORY SECTION -->

<section class="browse-catagories section">
    <div class="container">
    <div class="section-header">
    <h2 class="section-title">Browse by Catagories</h2>
    <p>As the Africa's #1 job site, with over 200 million unique visitors every month from over 60 different countries</p>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">
    <a href="browse-categories.html" class="img-box">
    <div class="img-box-content">
    <h4>Healthcare</h4>
    <span>3420 Jobs</span>
    </div>
    <div class="img-box-background">
    <img class="img-fluid" src="assets/img/catagories/img1.jpg" alt="">
    </div>
    </a>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
    <a href="browse-categories.html" class="img-box">
    <div class="img-box-content">
    <h4>Education</h4>
    <span>2379 Jobs</span>
    </div>
    <div class="img-box-background">
    <img class="img-fluid" src="assets/img/catagories/img2.jpg" alt="">
    </div>
    </a>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
    <a href="browse-categories.html" class="img-box">
    <div class="img-box-content">
    <h4>Business</h4>
    <span>1560 Jobs</span>
    </div>
    <div class="img-box-background">
    <img class="img-fluid" src="assets/img/catagories/img3.jpg" alt="">
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
    <a href="browse-categories.html" class="img-box">
    <div class="img-box-content">
    <h4>Finance</h4>
    <span>2000 Jobs</span>
    </div>
    <div class="img-box-background">
    <img class="img-fluid" src="assets/img/catagories/img4.jpg" alt="">
    </div>
    </a>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
    <a href="browse-categories.html" class="img-box">
    <div class="img-box-content">
    <h4>Support</h4>
    <span>3340 Jobs</span>
    </div>
    <div class="img-box-background">
    <img class="img-fluid" src="assets/img/catagories/img5.jpg" alt="">
    </div>
    </a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">
    <a href="browse-categories.html" class="img-box">
    <div class="img-box-content">
    <h4>Law</h4>
    <span>1200 Jobs</span>
    </div>
    <div class="img-box-background">
    <img class="img-fluid" src="assets/img/catagories/img6.jpg" alt="">
    </div>
    </a>
    </div>
    <div class="col-12 text-center mt-4">
    <a href="#" class="btn btn-common">browse more</a>
    </div>
    </div>
    </div>
    </section>

                            <!-- END OF CATEGORY SECTION -->

<app-footer></app-footer>
