 .top-nav-color{
    background-color: #f2f7fb !important; 
 }
.hero-area {
    background: #fff;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.hero-area .contents {
    padding: 150px 0 80px;
}
.hero-area .contents h2 {
    color: #333;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 25px;
}
.hero-area .contents p {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 26px;
}
.hero-area .contents .btn {
    margin-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
}
.hero-area .contents .btn-border {
    border: 2px solid #fff;
    color: #fff;
}
.hero-area .intro-img {
    padding: 120px 0 0;
}
.hero-area .intro-img img {
    display: block;
    height: auto;
    max-width: 100%
}