<footer>

  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="widget">
            <div class="footer-logo mb-2"><img src="" alt=""></div>
              <ul class="mt-3 footer-social">
              <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
              <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
              <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
              <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      
       
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Address</h3>
            <ul class="contact-list">
              <li><i class="lni-phone-handset"></i> <span>+234 - 123-456-789 <br> +234 - 123-456-789 </span></li>
              <li><i class="lni-envelope"></i> <span>contact@eminent.com info@shopr.com</span></li>
              <li><i class="lni-map-marker"></i> <span>23 Adeola Odeku Street, Victoria Island, Lagos Island.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div id="copyright">
    <div class="container">
      
          <div class="site info text-centre">
              <p>Copyright 2019 Eminent Technology Ltd. / Eminent Technology Ltd, All Rights Reserved.</p>
          </div>
        </div>
      </div>
    

</footer>